* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
 width: 100%;
  height: 800px;
}
.main-visual {
  height: 200px;
 background-position: center;
 background-size: cover;
  background-image: url(img/box1.jpg);
}
.main-visual1 {
  height: 200px;
  background-position: center;
  background-image: url(img/box2.jpg);
background-size: cover;}
.main-visual2 {
  height: 200px;
  background-image: url(img/box3.jpg);
background-position: center;
background-size: cover;
}
.main-visual3 {
  background-position: center;
  background-size: cover;
  height: 200px;
  background-image: url(img/box4.jpg);
}
